<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Exercício Ts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="app.component.css">

  <!--Acrescentando fonte Roboto-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <!--Acrescentando fonte Quicksand-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
  <aside class="side-menu">
    <section class="aside-infos">
      <h1 class="aside-title">SLACA 2019</h1>
      <img src="./img/slacaIcon.png" alt="slaca-icon">
    </section>

    <section class="menu-aside">
      <nav class="nav-aside">
        <ul class="nav-list">
          <li><a href="#">Apresentação</a></li>
          <li><a href="#">Comitês</a></li>
          <li><a href="#">Autores</a></li>
          <li><a href="#">Eixos temáticos</a></li>
          <li><a href="#" style="background-color:#FDF1EB;" class="indicador-aside">Trabalhos</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </section>
  </aside>


  <header class="header">
    <div class="informacoes-header">
      <p class="desc-header">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
      <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</h2>
      <p class="issn">ISSN: 1234-5678</p>
    </div>

    <div class="lingua-edit">
      <button class="lingua-header">
        <img class="globe-icon" src="img/language-icon.png" alt="language-icon">
        <p class="linguagem-header">PT, BR</p>
        <img class="dropdown-icon" src="img/dropdown.png" alt="dropdown-icon">
      </button>
    </div>

    <div class="usuario-header">
      <div class="saudacao">
        <p>Bem vindo !</p>
        <p class="email">alguem12@galoascience.com</p>
      </div>
      <div class="user">
        <img class="user-photo" src="./img/user.png" alt="user-photo">
        <img class="notification" src="./img/notification.png" alt="notification">
      </div>
    </div>
  </header>

  <main class="main-container">
    <div class="title-container">
      <h2 class="title-main">Análise sensorial de preparações funcionais desenvolvidas para escolares <br>
        entre 09 e 15 anos, do município de Campinas/SP</h2>
      <div class="main-buttons">
        <button class="button-download">
          <img src="./img/download-icon.png" alt="download-icon">
          <p class="download-text">Download</p>
        </button>
        <button class="favorite-button">
          <img src="./img/star.png" alt="star-icon">
        </button>
        <button class="doi-button">
        </button>
        <p class="question-p">COMO CITAR ESTE TRABALHO?</p>
      </div>
    </div>

    <section class="overlay-container">
      <div class="overlay-player">
        <img class="player-overlay" src="img/player.png" alt="player-video">
        <div class="overlay">
          <div class="overlay-itens">
            <h2 class="text-overlay">Análise sensorial de preparações funcionais desenvolvidas <br> para escolares
              entre 09 e 15 anos, do município de <br> Campinas/SP</h2>
            <div class="apresentacao-container">
              <img class="person-icon" src="img/person-icon.png" alt="person-icon">
              <div>
                <p class="text-apresentacao-nome">Beatriz Christiane Melo</p>
                <p class="text-apresentacao-instituicao">FCA / Universidade Estadual de Campinas</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <aside class="extra-info">
        <div class="info-container">
          <header class="header-container">
            <h3>Detalhes</h3>
          </header>

          <div class="detalhes-container">
            <div class="explicacao-container">
              <p><span class="explicacao-info">Tipo de Apresentação:</span> <span class="info-span">Pôster</span></p>
              <p><span class="explicacao-info">Eixo temático:</span> <span class="info-span">Alimentação e saúde</span>
                <br>
                <span class="info-span">(AS)</span>
              </p>
              <p><span class="explicacao-info">Palavras-chaves:</span> <span class="info-span">Alimentos <br>
                  funcionais,
                  alimentação escolar.</span></p>
            </div>
            <div class="autores-container">
              <p><span class="autores-span">Autores:</span></p>
              <p class="autores">Galileo Galilei <sup><span class="sup-span">1</span></sup></p>
              <p class="autores">Verta Lange de Morretes <sup><span class="sup-span">2</span></sup></p>
              <p class="autores">Isaac Newton <sup><span class="sup-span">3</span></sup></p>
              <p class="autores">Cesar Lattes <sup><span class="sup-span">1</span></sup></p>
              <p class="autores">Stephen Hawking <sup><span class="sup-span">4</span></sup></p>
            </div>
            <div class="faculdades-container">
              <p class="nomes-faculdade"><sup><span class="sup-span">1</span></sup> Universidade Estadual de Campinas
              </p>
              <p class="nomes-faculdade"><sup><span class="sup-span">2</span></sup> Universidade de São Paulo</p>
              <p class="nomes-faculdade"><sup><span class="sup-span">3</span></sup> Instituto Nacional de Pesquisas
                Espaciais</p>
              <p class="nomes-faculdade"><sup><span class="sup-span">4</span></sup> Universidade Federal do Rio de
                Janeiro</p>
            </div>
            <img class="scroll" src="img/scroll.png" alt="scroll">
          </div>
        </div>
      </aside>
    </section>

    <article class="resumo">
      <header class="header-resumo">
        <h3>Resumo</h3>
      </header>

      <p class="p-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id commodi alias nisi qui laborum
        impedit, neque hic nihil non voluptatibus doloribus maxime, animi doloremque dolore molestias, quisquam
        aspernatur reiciendis rerum. Deserunt consequatur nesciunt, officia consequuntur, cumque odit expedita hic
        veritatis, quam laborum eligendi tempora architecto vitae quisquam deleniti natus sit animi. Tempore neque
        necessitatibus ad autem nihil animi voluptates quas sunt eligendi, numquam deserunt amet officia saepe aliquam
        placeat laudantium incidunt dolor. At facilis earum exercitationem debitis nesciunt natus qui? Nisi temporibus
        explicabo officiis minus ipsum aliquam harum? Ipsum, impedit. Magnam itaque aspernatur, totam doloremque quis
        dolorum veritatis beatae minus dolore unde ex odit libero commodi nemo tempore reprehenderit impedit quasi
        voluptas maxime dignissimos architecto eligendi? Nemo a repellendus deserunt id laboriosam nobis blanditiis
        tenetur, aliquam, omnis obcaecati saepe consectetur voluptatem asperiores quo praesentium molestias?
        Reprehenderit, sunt ea aliquam cum ad aspernatur placeat modi dignissimos. Praesentium minima error, ducimus
        saepe doloribus necessitatibus qui sequi consequuntur fugiat possimus aspernatur repellat itaque quod! Porro
        velit dolore nihil vel veniam... <a class="ver-mais-link" href="#"><span class="ver-mais">ver mais</span></a></p>
    </article>

    <section class="campo-comentarios">
      <header class="header-comentarios">
        <h3>Discussões</h3>
      </header>

      <div class="container-comentarios">
        <p class="introducao-comentarios">Compartilhe suas ideias ou dúvidas com os autores!</p>

        <div class="icones-comentarios">
          <img class="icones-tamanho icone1" src="img/vetor1.png" alt="vetor1">
          <img class="icones-tamanho icone2" src="img/vetor2.png" alt="vetor2">
          <img class="icones-tamanho icone3" src="img/vetor3.png" alt="vetor3">
        </div>

        <p class="chamada-comentario">Sabia que o maior estímulo no desenvolvimento científico e cultural é a
          curiosidade? Deixe seus <br> questionamentos ou sugestões para o autor!</p>

        <button class="criar-topico">
          <img src="img/criar-icon.png" alt="criar-icon">
          <p>criar tópico</p>
        </button>
      </div>

      <section class="comentarios-container">
        <div class="comentario-usuario">
          <div class="header-usuario">
            <h3>Assunto da pergunta aparece aqui</h3>
            <p>Carlos Henrique Santos</p>
          </div>

          <div class="comentario">
            <p>Comecinho da pergunta aparece aqui rescente relato inscreve-se no campo da análise da dimensão e impacto
              <br>
              de processo formativo situado impacto de processo formativo processo...
            </p>
          </div>

          <footer>
            <div class="footer-icons">
              <img class="info-icon" src="img/info-icon.png" alt="info-icon">
              <img class="fav-icon" src="img/fav-icon.png" alt="fav-icon">

              <p>1 like</p>
              <p>1 resposta</p>
            </div>
          </footer>
        </div>

      </section>

      <section class="comentarios-container">
        <div class="comentario-usuario">
          <div class="header-usuario">
            <h3>Assunto da pergunta aparece aqui</h3>
            <p>Carlos Henrique Santos</p>
          </div>

          <div class="comentario">
            <p>Comecinho da pergunta aparece aqui rescente relato inscreve-se no campo da análise da dimensão e impacto
              <br>
              de processo formativo situado impacto de processo formativo processo...
            </p>
          </div>

          <footer>
            <div class="footer-icons">
              <img class="info-icon" src="img/info-icon.png" alt="info-icon">
              <img class="fav-icon" src="img/fav-icon.png" alt="fav-icon">

              <p>1 like</p>
              <p>1 resposta</p>
            </div>
          </footer>
        </div>

      </section>
    </section>
  </main>

  <footer class="footer-page">
      <div class="footer-container"><img src="img/galoá-footer.png" alt="galoá-footer"></div>
  </footer>
</body>

</html>